{{> head}}

    
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About Page</h1>
        </div>
        <div class="col-4">
            <p>Imagen loca</p>
            <img src="assets/img/_+54 9 11 6432-4575_ 20180418_091412.jpg" alt="" class="img-thubnail">
        </div>
    </div>
    
{{> footer }}